body {
    background: #ffffff;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .receipt-box {
    max-width: 500px;
    margin: 100px auto;
    padding: 30px;
    border: 1px dashed #000;
    text-align: left;
    background-color: #fff;
  }
  